@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jetbrains-mono: var(--font-jetbrains-mono);
}

body {
  background: #02050f;
  color: #f3f6fb;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
